@model ATM.Models.Login
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">*@
<link href="~/Content/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
@*<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>*@
<script src="~/Scripts/4.1.1/js/bootstrap.min.js"></script>
@*<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>*@
<script src="~/Scripts/3.2.1/jquery.min.js"></script>
@*<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>la vdd*@
<script src="~/Scripts/jquery.min.js"></script>

<!--Bootsrap 4 CDN-->
@*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">*@
<link rel="stylesheet" href="~/Content/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<!--Fontawesome CDN-->
@*<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">*@
<link rel="stylesheet" href="~/Content/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<!--Custom styles-->
<link rel="stylesheet" type="text/css" href="~/Content/Site.css">

<br />
<br />
<br />
<br />
<div class="container">
    <center>
        <img src="~/Content/img/logo ATM.png" style="width:25%; height:15%; background-color:white" />
        <br />
    </center>
    <br />
    <div class="d-flex justify-content-center">

        <div class="card" style="width: 350px;height: 310px;">
            <div class="card-header">
                <br />
                <h3>Iniciar sesión</h3>
                @*<div class="d-flex justify-content-end social_icon">
                        <span><i class="fab fa-facebook-square"></i></span>
                        <span><i class="fab fa-google-plus-square"></i></span>
                        <span><i class="fab fa-twitter-square"></i></span>
                    </div>*@
            </div>
            <div class="card-body">

                @using (Html.BeginForm("Index", "Login", FormMethod.Post))
                {
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        @Html.TextBoxFor(m => m.usuario, new { @class = "form-control", placeholder = "usuario" })
                        <br />
                        <p> @Html.ValidationMessageFor(model => model.usuario, "", new { @class = "text-danger" })</p>

                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        @*<input type="password" class="form-control" placeholder="password">*@
                        @Html.PasswordFor(m => m.password, new { @class = "form-control", placeholder = "password" })
                        <p> @Html.ValidationMessageFor(m => m.password, "", new { @class = "text-danger" })</p>
                    </div>
                    @*<div class="row align-items-center remember">ooo
                            <input type="checkbox">Remember Me
                        </div>*@
                    <br />
                    <div class="form-group">
                        <center>
                            <input type="submit" value="Iniciar sesión" class="btn login_btn" style="background-color:chocolate; width:75%">
                        </center>
                    </div>
                }
            </div>
            @*<div class="card-footer">
                    <div class="d-flex justify-content-center links">
                        Don't have an account?<a href="#">Sign Up</a>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a href="#">Forgot your password?</a>
                    </div>
                </div>*@
        </div>
    </div>
</div>