
@{
    ViewBag.Title = "Index";
}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="~/Content/css/menu-bar.css" rel="stylesheet" />
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<link href="~/Content/datatable/dataTables.min.css" rel="stylesheet" />

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="~/Scripts/modal.js"></script>
<script src="~/Scripts/menu-bars.js"></script>
<script src="~/Scripts/datatable/jquery.dataTables.min.js"></script>
<script src="~/Scripts/functions.js"></script>


<h2>Index</h2>

